/* general style and fonts */

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #e1e1e1;
}

a,
p,
li {
  color: #cdcdcd;
}

body {
  background-color: #3f3f3f;
}

/* header */

header {
  background-color: #433c4d;
  border-bottom: solid 1px #b1b2bd;
}

header nav li a {
  color: #cdcdcd;
}

header nav li a:hover {
  background-color: darkred;
}

/* .projectPic:nth-child(1) {
  background: linear-gradient(to right, #433c4d, #b1b2bd);
} */

.projectItem:nth-child(2) > :nth-child(1) {
  background: linear-gradient(#433c4d, #b1b2bd);
}

.projectItem:nth-child(3) > :nth-child(1) {
  background: linear-gradient(to left, #433c4d, #b1b2bd);
}

/* Section 3 - About */

.button {
  /*Reset*/
  color: #fff;

  /*Magic*/
  background-image: linear-gradient(#6c6c6c, #baa5d9);
}

/* Button to go up */

.arrow-up {
  border-bottom: 3.464em solid #625772;
}

.arrow-up p:hover {
  color: darkcyan;
}

.arrow-up p {
  color: cornsilk;
}

/* contact me button */

.contactMeButton {
  background-color: #b3b3b3;
}

.contactMeButton:hover {
  background-color: #625772;
}
