/* header */

header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.siteLogo {
    height: 100px;
    width: auto;
    display: inline-block;
}

header nav ul {
    list-style: none;
    margin-right: 1em;
    
}

header nav li {
    display: inline;
    padding-left: 1em;
}

/* Section 1 - introduction */

.introduction{
    margin-top: 2em;
    display: flex;
    justify-content: space-around;
}

.pictureOfMe {
    height: 400px;
    border-radius: 30px;
}

.textAboutMe {
    width: 40em;
}

.textAboutMe h2, .textAboutMe h4 {
    text-align: center;
}