/* header */

header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.siteLogo {
    height: 100px;
    width: auto;
    display: inline-block;
}

header nav ul {
    list-style: none;
    margin-right: 1em;
    
}

header nav li {
    display: inline;
    padding-left: 1em;
}