/* general style and fonts */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', Sans-Serif;
  color: #002627;
}

a,
p,
li {
  font-family: 'Lora', Serif;
  color: #002627;
}

body {
  background-color: #cdcdcd;
}

h2 {
  margin: 2em 0;
  text-align: center;
}

p {
  line-height: 2em;
}

/* header */

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #625772;
  /* border-radius: 0 0 5px 5px; */
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 7;
  height: 4em;
}

.siteLogo {
  /* this changes the height of the nav bar */
  height: 4em;
  cursor: pointer;
  border-bottom-left-radius: 5px;
}

header nav ul {
  list-style: none;
  margin: 0;
}

header nav li {
  display: inline;
}

header nav li a {
  color: #cdcdcd;
  /* these properties are important to display hover */
  display: inline-block;
  padding: 1.2em 1em;
  margin: 0;
}

header nav li a:hover {
  background-color: darkred;
}

/* for nav with sticky heading to work */

.anchor a {
  position: absolute;
  left: 0px;
  top: -6em;
}

.anchor {
  position: relative;
}

.darkModeContainer {
  display: flex;
  align-items: flex-end;
}

.darkModeContainer p {
  display: block;
  margin: 0;
  color: #cdcdcd;
}

@media only screen and (max-width: 576px) {
  .siteLogo {
    max-height: 30%;
  }
  #clickTheLamp {
    display: none;
  }
}

/* Section 1 - introduction */

.textAboutMe h2 {
  margin: 2em 0 0 0;
}

.introduction {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

@media only screen and (max-width: 576px) {
  .introduction {
    flex-direction: column;
    align-items: center;
  }
  .textAboutMe {
    min-width: 60%;
    text-align: justify;
  }
}

.pictureOfMe {
  margin-top: 4em;
  height: 15em;
  border-radius: 30px;
}

.textAboutMe {
  width: 50%;
}

.textAboutMe h2,
.textAboutMe h4 {
  text-align: center;
}

.textAboutMe h4 {
  padding: 1em 0;
}

.listLove {
  display: none;
}

.listLove.active {
  display: inline-block;
}

/* Section 2 - Portfolio */

.projectsContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-left: 2em;
}

.projectItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* change breakpoints to 720px */
@media only screen and (max-width: 576px) {
  .projectsContainer {
    flex-direction: row;
  }
}
.projectPic:nth-child(1) img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.projectItem p {
  margin-top: 2em;
  width: 20em;
  text-align: justify;
}

.projectItem:nth-child(2) p,
.projectItem:nth-child(3) p {
  text-align: center;
}

.projectPic {
  height: 20em;
  width: 15em;
  border-radius: 1em;
  overflow: hidden;
  border: 3px solid #625772;
}

/* .project1pic {
  background: linear-gradient(to right, darkviolet, deeppink);
} */

.projectItem:nth-child(2) > :nth-child(1) {
  background: linear-gradient(darkviolet, deeppink);
}

.projectItem:nth-child(3) > :nth-child(1) {
  background: linear-gradient(to left, darkviolet, deeppink);
}

/* Section 3 - About */

.technology {
  display: flex;
  padding: 2em 10em;
  justify-content: space-around;
}

@media only screen and (max-width: 576px) {
  .technology {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2em;
  }
  .technology img {
    padding: 0.5em;
  }
}

.technology img {
  height: 4em;
}

/* listreveal button */

.button {
  /*Reset*/
  display: inline-block;
  outline: none;
  background-color: transparent;
  padding: 0.5rem 0.75rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;

  /*Magic*/
  background-image: linear-gradient(#8e7ea6, #baa5d9);
  background-size: 100% 200%;
  -webkit-transition: background-position 0.3s;
  transition: background-position 0.3s;
}
.button:hover {
  background-position: 0 -100%;
}

/* Button to go up */

.arrowUp {
  width: 0;
  height: 0;
  border-left: 4em solid transparent;
  border-right: 4em solid transparent;
  border-bottom: 3.464em solid #625772;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.arrowUp p:hover {
  cursor: pointer;
  color: darkcyan;
  font-size: larger;
  /* transition: font-size 0.2s; */
  transition-property: font-size;
  transition-duration: 0.2s;
}

.arrowUp p {
  color: cornsilk;
}

/* contact me button */

.contactMeButton {
  position: fixed;
  top: 50%;
  background-image: url('../resources/email.png');
  background-size: contain;
  height: 3em;
  width: 3em;
  cursor: pointer;
  z-index: 3;
  margin-left: 0.5em;
  background-color: #cdcdcd;
  border-radius: 50%;
}

.contactMeButton:hover {
  background-color: #625772;
  border-radius: 1.45em;
}

.contactMeButton:active {
  transform: scale(0.95);
}

/* contact container */

.contactContainer {
  position: fixed;
  height: 15em;
  top: 51.5%;
  left: 1.5%;
  display: grid;
  grid-template-columns: 1em;
  grid-template-rows: 1em;
  /* display: none; */
}

.contactContainer a {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

@media only screen and (max-width: 576px) {
  .contactContainer {
    top: 51.2%;
    left: 3%;
  }
}

@media only screen and (max-width: 430px) {
  .contactContainer {
    top: 51.8%;
    left: 3.5%;
  }
}

.contactContainer a {
  height: 1.5em;
  width: 1.5em;
  grid-area: 1 / 1 / 1 / 1;
}

.contactContainer img {
  height: 1.5em;
  width: 1.5em;
}
